@import 'variables';

h1 {
    color: $blue-color;
}

a:hover {
    text-decoration: none;
}

.mt-4 {
    margin-bottom: 30px;
}

.admin-avatar {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin-right: 5px;
}

.list-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
