<div class="mt-4">
    <h2>Tạo tài khoản</h2>
    <form method="POST" action="/users/store">
        <div class="form-group">
            <label>Tên tài khoản</label>
            <input type="text" name="username" class="form-control" placeholder="Tên tài khoản">
        </div>
        <div class="form-group">
            <label>Mật khẩu</label>
            <input type="password" name="password" class="form-control" placeholder="Mật khẩu">
        </div>
        <div class="form-group">
            <label>Họ và tên</label>
            <input type="text" name="name" class="form-control" placeholder="Họ và tên">
        </div>
        <div class="form-group">
            <label>Số điện thoại</label>
            <input type="text" name="phone" class="form-control" placeholder="Số điện thoại">
        </div>
        {{#if err}}
            <div class="alert alert-danger" role="alert">
                {{err}}
            </div>
        {{/if}}
        <button type="submit" class="btn btn-primary">Tạo tài khoản</button>
    </form>
</div>