<div class="mt-4">
    <h3 class="mb-3">Danh sách người dùng</h3>
    <table class="table">
    <thead>
        <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Phone</th>
        <th scope="col">Ngày tạo</th>
        <th scope="col" style="text-align:center">View</th>
        </tr>
    </thead>
    <tbody>
        {{#each users}}
            <tr>
                <th scope="row">{{sum @index 1}}</th>
                <td>{{this.name}}</td>
                <td>{{this.phone}}</td>
                <td>{{this.createdAt}}</td>
                <td style="text-align:center"><a href=""><i class="fas fa-eye"></a></i></td>
            </tr>
        {{/each}}
    </tbody>
    </table>
</div>