<div class="mt-4">
    <form method="GET">
    <div class="form-group">
        <label for="searchInput">Từ khóa</label>
        <input type="text" name="q" class="form-control" id="searchInput" placeholder="Nhập nội dung tìm kiếm...">
    </div>
    <button type="submit" class="btn btn-primary">Tìm kiếm</button>
    </form>
</div>